.favorites {
  &-title {
    text-align: center;
    font-size: 22.512px;
    margin-top: 50px;
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    margin-top: 20px;
    img {
      width: 200px;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        scale: 1.2;
      }
    }
    p {
      text-align: center !important;
    }
  }
}
