@import "variables";
.model {
  &-container {
    padding-top: 32px;
  }
  &-content {
    position: relative;
    justify-self: center;
  }
  &-img {
    width: 280px;
  }
  &-tooltip {
    position: absolute;
    &-text {
      position: absolute !important;
      background: $gradient-color;
      padding: 6px 12px;
      border-radius: 64px;
      font-size: $small-font-size;
      font-weight: $font-medium;
      white-space: nowrap;
      left: 70px;
      top: -15px;

      color: white;
    }
    &-1 {
      top: 88px;
      left: 80px;
    }
    &-2 {
      top: 16px;
      right: 24px;
    }
    &-3 {
      bottom: 28px;
      left: 50px;
    }
    &-4 {
      bottom: 100px;
      left: 20px;
    }
  }
}
