.sponsor {
  &-img {
    width: 150px;
    transition: all 0.4s;
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
  &-container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 2rem;
    padding: 8px 72px;
    align-items: center;
  }
}
